arrow==0.6.0
inflect==0.2.5
Flask==0.10.1
Flask-Admin==1.0.8
Flask-Login==0.2.11
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.3
Flask-WTF==0.10.0
google-api-python-client==1.1
inlinestyler==0.2.1
itsdangerous==0.24
Jinja2==2.7.3
pytz==2015.7
redis==2.10.5
rethinkdb==2.2.0.post5
requests==2.4.3
uwsgi==2.0.11.2
WTForms==1.0.5
Werkzeug==0.9.6
