<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>{% block title %}{{SITE_NAME}}{% endblock %}</title>

    <link rel="icon" type="img/ico" href="static/images/favicon.ico">

    <script>
      window.flask = {
        siteName: '{{SITE_NAME}}',
        webrouterUrl: '{{WEBROUTER_URL}}',
        websocketerUrl: '{{WEBSOCKETER_URL}}'
      }
    </script>

  </head>

  {% block body %}{% endblock %}

</html>
