{% extends "_base.html" %}

{% block body %}
<body>

  {% include '_svgs.html' ignore missing %}
  {% include '_specific.html' ignore missing %}

  <script>
  // cannot hard code the hostname, then this won't work remotely.
  // also cannot just set a static src, as we're using a different port for hotAssetsServer (3000)
  // and for the flask web server (5000)
  var script = document.createElement('script')
  script.src = 'http://' + window.location.hostname + ':3000' + '/static/scripts/index_bundle.js'
  document.head.appendChild(script)
  // finally, the HMR expects a script with a src attribute on the page, crashes otherwise :/
  </script>
  <script src=""></script>

  <div id="react_div">
    <img src="/static/images/flask.png" />
    Welcome to
  </div>

</body>
{% endblock %}
